<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>Vue.js - введение</title>

</head>

<body>

	<div id="app">

	  <h4>Hello {{ name }}</h4>

	  <a :href="url">Google</a>

	  <button @click='reName'>Rename</button>

	  <br><br>

	  Add book: <input type="text" v-model='currentBook'><button @click='addBook'>Add</button>

	    <div v-if='books.length > 0'>

	    	Books
			<ul>

				<li v-for='book in books'>{{ book }}</li>

			</ul>

		</div>

		<component></component>

	</div>
	
	
	<script src="https://unpkg.com/vue"></script>
	<script>

		Vue.component('component', {
			template: '<h1>hello world</h1>'
		});

		new Vue({
			el: '#app',
			data:{
				name: 'World!',
				url: 'https://www.youtube.com/watch?v=Zwiu5yBU_Gk',
				currentBook: 'add me',
				books: [],
			},
			methods:{
				reName: function() {
					this.name = 'Ily';
				},
				addBook: function() {
					this.books.push(this.currentBook);
				}
			}
		})

	</script>

</body>

</html>